<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Merriweather&display=swap"
      rel="stylesheet"
    />
    <title>Trip Planner App</title>
  </head>

  <body>
    <div class="wrap_app">
      <div id="app">
     
        <div id="top-container">
          <div id="pic1"></div>
          <div id="pic2"></div>
          <div id="pic3"></div>
          <div id="pic4"></div>
          <div id="pic5"></div>
          <div id="pic6"></div>
          <div id="pic7"></div>
          <div id="pic8"></div>
          <div id="pic9"></div>
          <div id="pic10"></div>
          <div id="pic11"></div>
          <div id="pic12"></div>
        </div>
        <header>
          <h1>
            Travel Planner App
          </h1>
          <nav>
            <button id="scrollToAddTripButton">+add trip</button>
          </nav>
        </header>

        <main>
          <section id="sectionUpcomingTrips">
            <h2 id="headerUpcomingTrips">Upcoming Trips</h2>
            <p id="commentUpcomingTrips"></p>
            <div id="upcomingTrips"></div>
          </section>

          <div id="searchAndSaveSection">
            <section id="sectionSearchDestination">
              <h2>New trip</h2>
              <input
                type="text"
                id="destinationInput"
                placeholder="please enter a destination"
              />
              <div>
                <button id="searchDestinationButton">search</button>
              </div>
            </section>

            <section id="sectionSaveNewTrip">
              <h2 id="saveTripTitle">Save Trip</h2>
              <select id="placelist"></select>
              <input type="date" name="" id="newTripStart" value="" />
              <div>
                <button id="saveTripButton">save</button>
                <button id="cancelTripButton">cancel</button>
              </div>
            </section>
          </div>
        </main>

        <footer>
          <p>
            Thanks to
            <a href="http://www.geonames.org/export/web-services.html"
              >geonames</a
            >
            (location info),
            <a href="https://darksky.net/dev">dark sky</a> (weather info) and
            <a href="https://pixabay.com/api/docs/">pixabay</a> (picture).
          </p>
        </footer>
      </div>
    </div>
    <!-- <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script> -->

    <script>
      // When the user scrolls the page, execute myFunction
      window.onscroll = function() {
        myFunction();
      };

      // Get the header
      const header = document.querySelector('header');

      // Get the offset position of the navbar
      const sticky = 103.6; //header.offsetTop;

      // Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
      function myFunction() {
        if (window.pageYOffset > sticky) {
          header.classList.add('sticky');
        } else {
          header.classList.remove('sticky');
        }
        console.log('windows offset');
        console.log(window.pageYOffset);
      }
    </script>
  </body>
</html>
