// website layout is a user form in front of a picture
@use 'variables';

body {
  margin: 0;
  font-family: variables.$font-family;
  background: variables.$color-primary-light;

  .wrap_app {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #app {
    background: variables.$color-primary;
    border: thin solid variables.$color-primary-dark;
    width: 100%;
    max-width: 500px;
    height: auto;
    min-height: 100vh !important;
  }
}
