@use 'variables';

header {
    display: flex;
    justify-content: center;
    flex-direction: column;

    margin: variables.$margin-std;

    h1 {
        font-size: variables.$font-size-header;
        margin: variables.$margin-std;
    }
}