@use 'variables';


.sentiment_result_section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .result_card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 6.5em;
        min-height: 4em;
        background: variables.$color-secondary-light;
        margin: variables.$margin-std;
        padding: variables.$margin-std;
        border-radius: 40px;

        h2 {
            font-size: variables.$font-size-label;
            margin: variables.$margin-std;
            text-align: center;
            text-decoration: underline;
        }

        .result {
            font-size: variables.$font-size-label;
        }
    }
}

.sentiment_status {
    display: flex;
    justify-content: center;
    background: variables.$color-primary;
    padding: variables.$padding-std;

    #status {
        font-size: variables.$font-size-label;
        height: variables.$font-size-label;
    }
}