@use 'variables';

#sectionUpcomingTrips {
  h3 {
    font-size: variables.$font-size-header3;
    margin-bottom: variables.$margin-small;
  }

  p {
    font-size: variables.$font-size-paragraph-mobile;
    margin-bottom: variables.$margin-small;
  }

  img {
    display: block;
    height: 7rem;
    margin-bottom: variables.$margin-small;
    border-radius: variables.$border-radius;
  }

  section {
    margin-bottom: variables.$margin-medium;
    border: thin solid variables.$color-primary-text;
    background: variables.$color-secondary-dark;
    border-radius: variables.$border-radius;
  }

  @media (min-width: 850px) {
    #upcomingTrips {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 5px 5px;
    }
  }
}
