@use 'variables';

#sectionUpcomingTrips {
  h3 {
    font-size: variables.$font-size-header3;
    margin-bottom: variables.$margin-small;
  }

  p {
      font-size: variables.$font-size-paragraph;
      margin-bottom: variables.$margin-small;
  }

  img {
    display: block;
    width: 50%;
    margin-bottom: variables.$margin-small;
    border-radius: variables.$border-radius;
  }

  section {
      margin-bottom: variables.$margin-medium;
      border: thin solid variables.$color-primary-text;
      background: variables.$color-secondary-dark;
      border-radius: variables.$border-radius;
      

    // &:last-child{
    //   margin-bottom: 0;
    //   border-bottom:0;
    // }
  }

  

}