@use 'variables';

#sectionUpcomingTrips {
  h3 {
    font-size: variables.$font-size-header3;
    margin-bottom: variables.$margin-small;
  }

  p {
    font-size: variables.$font-size-paragraph-mobile;
    margin-bottom: variables.$margin-small;
  }

  @media (min-width: 980px) {
    p {
      // font-size: variables.$font-size-paragraph-mobile;
    }
  }

  img {
    display: block;
    height: 7rem;
    margin-bottom: variables.$margin-small;
    border-radius: variables.$border-radius;
  }

  section {
    margin-bottom: variables.$margin-medium;
    border: thin solid variables.$color-primary-text;
    background: variables.$color-secondary-dark;
    border-radius: variables.$border-radius;
  }
}
