$color-primary: #ef534e;
$color-primary-light: #ff867aCC;
$color-primary-dark: #b61825;
$color-secondary: #9e9e9e;
$color-secondary-light: #cfcfcfCC;
$color-secondary-dark: #707070;
$color-primary-text: #000000;
$color-secondary-text: #000000;
$font-size-header: 0.9em;
$font-size-label: 0.75em;
$font-size-input: 0.75em;
$font-family: 'Merriweather',
serif;
$border-radius: 10px;
$border-width: 2px;
$margin-std: 0.5em;
$padding-std: 0.5em;